<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AALFA - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('asset/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include '_partials/_header.html.twig' %}
        <div class="{% if app.user %}container-fluid{% else %}container px-5{% endif %} mt-5">
            <div class="row">
                {% if app.user %}
                    {% block aside %}{% endblock %}
                {% endif %}
                <div class="col-sm">
                    <h2>AALFA - {% block contenttitle %}{% endblock %}</h2>
                    <hr class="mb-5 border-primary">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% if app.user %}
            {% include '_partials/_footer.html.twig' %}
        {% endif %}
        <script src="{{ asset('asset/js/all.min.js') }}"></script>
        <script src="{{ asset('asset/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
